*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrappPizza{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color: rgb(186, 68, 255);
    font-size:45px;
    border-bottom: 3px solid rgb(186, 68, 255);
    padding-bottom: 5px;
} 